body {
  background-color: #181719;
  color: white;
}

.container-fluid {
  padding: 2% 7%;
}

.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  border: 2px solid white;
  padding: 10px;
  text-transform: uppercase;
}

.nav-item {
  padding-left: 86px;
}

.big-img {
 width: 600px;
 margin-left: 175px;
}

.arrow {
  position: relative;
  bottom: 5px;
  left: 25px;
}

.read {
  position: relative;
  left: 15px;
}

.card-section {
  position: relative;
  background-color: #181719;
  bottom: 50px;
  width: 400px;
  height: 189px;
  left: 350px;
  padding: 30px;
}

.aliza-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.name {
  font-size: 14px;
}

.occupation {
  color: #828282;
  font-size: 12px;
}

.credit {
  font-size: 24px;
}

.me {
  text-align: center;
}


@media only screen and (max-width: 375px) {
  .big-img {
    text-align: center;
    width: 100%;
    margin-left: 0;
  }
  .card-section {
    justify-content: center;
    position: relative;
    background-color: #181719;
    bottom: 50px;
    width: 250px;
    height: 89px;
    left: 30px;
    padding: 30px;
    margin-bottom: 50px;
  }
}
